---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Últimos posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>Veja aqui todos os meus <a href="{{ '/posts/' | url }}">posts</a>.</p>
